* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 239, 243);
}

.container {
  width: 100%;
  background: linear-gradient(0.25turn, rgb(228, 184, 6), rgb(122, 122, 220));
  border-radius: 5px;
}

.display-4 {
  text-align: center;
}
